@model inmobilariaCeli.Models.Contrato

<h2>Eliminar Contrato</h2>

<div>
    <p>¿Estás seguro que querés eliminar este contrato?</p>

    <dl class="row">
        <dt class="col-sm-2">Propiedad</dt>
        <dd class="col-sm-10">@Model.PropiedadDireccion</dd>

        <dt class="col-sm-2">Inquilino</dt>
        <dd class="col-sm-10">@Model.InquilinoNombre</dd>

        <dt class="col-sm-2">Inicio</dt>
        <dd class="col-sm-10">@Model.FechaInicio.ToShortDateString()</dd>

        <dt class="col-sm-2">Fin</dt>
        <dd class="col-sm-10">@Model.FechaFin.ToShortDateString()</dd>
    </dl>

    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>